@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@300;400&display=swap");

body {
   font-family: "Roboto", sans-serif;
   background-color: rgb(150, 106, 71);
   padding: 30px;
}

h1 {
   font-family: "Monoton", cursive;
   padding-bottom: 10px;
   text-align: center;
   font-size: 80px;
   line-height: 0.9em;
   font-weight: lighter;
   color: white;
   margin: 30px;
}

h1 {
   /* // main background is gradient */
   display: block;
   position: relative;
   background: linear-gradient(to bottom, #00f2ff 0%, #e2fbff 50%, #0a343f 51%, #0094f7 100%);
   background-blend-mode: multiply;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h2 {
   padding-bottom: 0px;
   text-align: center;
   color: white;
   font-weight: 300;
}

input[type="text"] {
   width: 200px;
   height: 30px;
   padding: 0;
   margin: 0;
   border: 0;
}

input[placeholder] {
   text-align: center;
}

select {
   border: 0;
}

label {
   font-size: 14px;
}

button {
   border: 0;
}

.nav-bar {
   display: flex;
   justify-content: center;
}

.songform-container {
   display: flex;
   justify-content: center;
   justify-items: center;
}

.sort-options {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.songform-wrapper {
   /* display: block; */
   justify-content: center;
   padding-bottom: 30px;
}

.songform-label {
   display: block;
   height: 30px;
   width: 200px;
}

.add-button {
   padding: 10px;
   width: 200px;
}

.songform-inputfield {
   padding: 5px;
   width: 200px;
}

.table-width {
   width: 100%;
}

.table-row {
   width: 100vw;
   padding: 10px;
   overflow-wrap: break-word;
}

.table-data,
.song-row-item,
th.song-row-item,
td.song-row-item {
   border: 1px black solid;
   width: 17vw;
   text-align: center;
   overflow-wrap: break-word;
   font-size: 11px;
}

table {
   border-collapse: collapse;
}

.navbar-item {
   padding-right: 30px;
   text-decoration: none;
}

.active {
   font-weight: bold;
}
